<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bands.css') }}">
    <script src="{{ url_for('static', filename='js/band.js') }}"></script>
    <script>
        document.onloadend = load_function('{{ track_list }}')
    </script>

    <title id="artist-title">{{ band_name }}</title>
</head>
<body>
    <div class="header">
        <h2 id="artist-header">{{ band_name }}</h2>
    </div>
    <table id="band-table" class="band-table">
        <script>populate_table(track_list);</script>
    </table>
</body>
<a href="/bands">Bands</a>
</html>