<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/bands.css">
    <title>Artist Placeholder</title>
</head>
<body>
    <div class="header">
        <h2>Artist Placeholder</h2>
    </div>
    <table class="band-table">
        <tr>
            <td>Album Name</td>
        </tr>
        <tr>
            <td>Album Name</td>
        </tr>
        <tr>
            <td>Album Name</td>
        </tr>
        <tr>
            <td>Album Name</td>
        </tr>
    </table>
</body>
</html>