#albums-table {
    width: 100%;
    border-collapse: collapse;
}

#albums-table td {
    padding: 7px;
    border: cadetblue 1px solid;
    text-align: center;
}

#albums-table tr{
    background: #618685;
}

#albums-table tr:nth-child(odd) {
    background: #866162;
}

#albums-table tr:nth-child(even) {
    background: #867461;
}

.song-list ul {
    text-align: left;
}