* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #36486b;
    color: #fefbd8;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}

#navigation div:hover {
    background-color: #36486b;
}

#navigation a {
    color: #36486b;
}


#navigation a:visited {
    color: #36486b;
}

#navigation a:hover {
    color: #fefbd8;
}

#bands, #albums, #sales {
    padding: 100px;
    font-size: x-large;
    text-align: center;
}

#bands {
    background-color:#618685;
}

#albums {
    background-color:#867461;
}

#sales {
    background-color:#866162
}