* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #36486b;
    color: #fefbd8;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .column {
        width: 100%;
    }
}