# Default ignored files
/workspace.xml
/misc.xml
/vcs.xml
/test_site.iml
/inspectionProfiles/profiles_settings.xml
/modules.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml